.header__logo {
}

.header__logo-image {
	inline-size: 58px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.header__nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	column-gap: 30px;
	color: #c4b5b5;
}

.header__nav-item {
	cursor: pointer;
}

.header__nav-link {
	font-size: 20px;
	text-decoration: none;
}

.header__nav-button:hover {
	cursor: pointer;
}
