.header__logo {
}

.header__logo-image {
	inline-size: 58px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.header__nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	column-gap: 30px;
	color: #000000;
}

.header__nav-item {
	cursor: pointer;
}

.header__nav-link {
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}

.header__nav-button {
	display: none;
}

.header__nav-button:hover {
	cursor: pointer;
}

@media (max-width: 725px) {
	.header__nav-button {
		display: block;
	}

	.header__nav-list {
		display: none;
	}
}
