.header__logo-image {
	min-inline-size: 58px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	position: relative;
}

.header__nav-list {
	display: flex;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
	flex-direction: row;
	align-items: center;
	column-gap: 30px;
	color: #000000;
}

.header__nav-item {
	cursor: pointer;
}

.header__nav-link:hover {
	text-decoration: underline;
}

.header__nav-item--auth {
	position: relative;
	padding: 10px 20px;
	transition: background-color 0.3s linear, color 0.3s linear;
	background-color: #d5d3d3;
	border-radius: 20px;
}

.header__nav-item--auth:hover {
	padding: 10px 20px;
	background-color: #8e9e81;
	color: #fff;
	text-decoration: none;
}

.header__nav-link {
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}

.header__nav-button {
	display: none;
}

.header__nav-button:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	.header__nav-list {
		position: absolute;
		top: 100%;
		left: 0;
		inline-size: 100%;
		flex-direction: column;
		backdrop-filter: blur(10px); /* Добавляем размытие */
		background-color: rgba(255, 255, 255, 0.5);
		max-block-size: 0;
		overflow: hidden;
		opacity: 0;
		transition: max-height 0.3s ease, opacity 0.3s ease;
		z-index: 1000;
		justify-content: end;
		row-gap: 20px;
		padding: 10px;
	}

	.header__nav-list.active {
		max-block-size: 300px; /* Увеличиваем высоту при открытии */
		opacity: 1;
	}	

	.header__nav-list--open {
		max-block-size: 500px;
		opacity: 1;
	}

	.header__nav-item {
		align-self: end;
	}

	.header__nav-link {
		font-size: 25px;
	}

	.header__nav-button {
		display: block;
	}

	.header__logo {
		flex-grow: 1;
	}
}
