.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	margin: 0 0 44px 0;
	padding: 0 50px;
}

.footer__address {
	align-self: start;
}

.footer__city {
	line-height: 26px;
}

.footer__menu {
	align-self: start;
}

.footer__menu-list {
	text-align: center;
	list-style: none;
}

.footer__menu-link {
	font-size: 18px;
	text-underline-offset: 3.5px;
}

.footer__menu-link_active {
	font-weight: 500;
	text-decoration: none;
}

.footer__social-list {
	display: flex;
	justify-self: end;
	align-items: center;
	column-gap: 25px;
	list-style: none;
}

.footer__social-link {
	display: block;
	width: 48px;
	height: 48px;
}

@media (max-width: 700px) {
	.footer__social-list {
		column-gap: 5px;
		padding: 0 20px;
	}
}

@media (max-width: 600px) {
	.footer {
		grid-template-columns: repeat(1, 1fr);
	}

	.footer__menu-list {
		text-align: right;
		justify-self: end;
	}

	.footer__menu-link {
		align-self: flex-end;
	}

	.footer__social-list {
		align-items: start;
		justify-self: flex-start;
	}
}
