.cards__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 58px;
	align-content: space-between;
}

@media (max-width: 900px) {
	.cards__list {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		gap: 20px;
	}
}
