.hero-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: space-between;
	column-gap: 20px;
	margin: 0 0 30px 0;
}

.hero-section__title {
	margin: 0 0 50px 0;
	font-size: 30px;
	text-transform: uppercase;
}

.hero-section__description {
	margin: 0 0 20px 0;
	font-size: 22px;
}

.hero-section__link {
	display: block;
	border-radius: 15px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #f8f8f8;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	inline-size: 50%;
	font-size: 18px;
	transition: 0.3s linear;
}

.hero-section__link:hover {
	background-color: #d5d3d3;
}

.hero-section__map {
	justify-self: end;
}

.region {
	transition: fill 0.3s ease, transform 0.3s ease;
}

.region:hover {
	fill: rgb(157, 157, 157); /* Укажите желаемый цвет при наведении */
	transform: scale(1.01) translate(-1px, -1px); /* Увеличивает размер на 10% */
}

.map {
	width: 431px;
	height: 489px;
}

@media (max-width: 1200px) {
	.hero-section {
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-section__info {
		margin: 0 0 60px 0;
	}

	.hero-section__map {
		justify-self: center;
	}
}

@media (max-width: 600px) {
	.hero-section__link {
		inline-size: 100%;
	}

	.hero-section__title {
		font-size: 25px;
	}

	.hero-section__description {
		font-size: 20px;
	}

	.hero-section__map {
		scale: 0.8;
		align-self: center;
	}
}
