.app {
	inline-size: 1325px;
	margin: 0 auto;
	color: var(--content-color);
	font-family: var(--font-main), serif;
	background-color: var(--background-color);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-inline-size: 320px;
	min-block-size: 100dvb;
}
